APP_NAME=BlueBot Discord
ENVIRONMENT=dev
DEBUG=true

DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=

BLUEFOLDER_API_KEY=
BLUEFOLDER_ACCOUNT_NAME=
BLUEFOLDER_API_PATH=/home/ner0tic/Documents/Projects/ARCoM/bluefolder-api
