.env
/venv/
*/__pycache__/*
*/.pytest_cache/
*/tests/__pycache__/
bluefolder_api.egg-info/
app/api/__pycache__/__init__.cpython-313.pyc
app/utils/.cache/.gitignore
app/utils/__pycache__/__init__.cpython-313.pyc
app/utils/__pycache__/cache_manager.cpython-313.pyc
app/integrations/__pycache__/__init__.cpython-313.pyc
app/integrations/__pycache__/bluefolder_integration.cpython-313.pyc
app/core/__pycache__/config.cpython-313.pyc
app/core/__pycache__/logging_config.cpython-313.pyc
app/bot/__pycache__/__init__.cpython-313.pyc
app/bot/__pycache__/handlers.cpython-313.pyc
app/bot/__pycache__/router.cpython-313.pyc
app/api/routes/__pycache__/__init__.cpython-313.pyc
app/api/routes/__pycache__/bluefolder_assignments.cpython-313.pyc
app/api/routes/__pycache__/health.cpython-313.pyc
app/api/routes/__pycache__/teams_incoming.cpython-313.pyc
app/services/__pycache__/__init__.cpython-313.pyc
app/services/__pycache__/teams_client.cpython-313.pyc
